body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:transparent;
    font-family: 'Poppins', sans-serif;
}
.success-message {
    background-color:transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 23);
    text-align: center;
}
.success-message h1 {
    color: #ffffff; 
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.success-message p {
    color: #000000;
    font-size: 1.2rem;
    margin-bottom: 30px;
}
.success-message .btn {
    background-color: #62aade;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}
.success-message .btn:hover {
    background-color: #05448e;
}